Host github.com
	Hostname github.com
  User git
  IdentityFile ~/.ssh/id_gitpersonal

Host github.com:journeyai
	Hostname github.com
	User git
	IdentityFile ~/.ssh/id_journeyai
	IdentitiesOnly yes

Host gitlab.bbl.systems
	Hostname gitlab.bbl.systems
	User git
	IdentityFile ~/workspace/lodestone/ssh/gitlab_rsa
	IdentitiesOnly yes
